div.form-container {
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 30em;
    margin-right: 30em;
    padding: 20px;
    border: 3px solid green;
    border-radius: 20px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 18px;
}

.login-button {
    padding: 14px 20px;
    margin: 80px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}

button.register {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}

button.register:hover {
    opacity: 0.8;
}

h1.register-title {
    color: black;
    text-align: center;
    font-size: 45px;
}

p.register-text {
    text-align: center;
    font-size: 25px;
}

div.remember-me-checkbox-div {
    margin: 10px 0;
    font-size: 20px;
}

input.remember-me-checkbox {
    height: 18px;
    width: 18px;
    margin-right: 5px;
}

input.remember-me-checkbox:hover {
    cursor: pointer;
}

div.back-to-home {
    text-align: center;
    font-size: 25px;
}

.back-to-home-button {
    color:green;
    font-size: 25px;
}

.back-to-home-button:hover {
    text-decoration: underline;
}

div.login-msg p {
    font-size: 20px;
    font-style: italic;
}
