#footer-div {
    background-color: #202020;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0;
    width: 100%;
}

#footer-div ul li {
    display: inline;
}

.footer-items li a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}

.footer-items a:hover {
    background-color: #111111;
}