nav {
    text-align: center;
    margin: 5px;
}

ul.nav-items li {
    display: inline;
}

ul.nav-items li .nav-item {
    margin: auto;
    text-align: center;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

ul.nav-items li:hover {
    text-decoration: underline;
}

button.logout-button {
    background-color: white;
    color: black;
    text-align: center;
    font-size: 18px;
    padding: 10px;

    opacity: 0.8;

    position: absolute;
    top: 8px;
    right: 10px;

    margin-top: 5px;
    margin-right: 5px;
    border-radius: 15px;
}

button.logout-button:hover {
    opacity: 1;
    cursor: pointer;
}

#navigation {
    background-color: #6495ED;
    padding: 8px;
}