div.register-page-content-div {
    margin-top: 30%;
    height: 500px;
    font-size: 30px;
}

ul.register-page-content-itemlist {
    list-style: none;
    font-size: 25px;
    padding-left: 0;
}

li.register-page-content-item {
    padding: 40px 20px;
}

li.item-left {
    text-align: left;
}

li.item-right {
    text-align: right;
}