div.right-sidebar-contact-item {
    display: flex;
}

div.right-sidebar-avatar-container {
    flex: 0 0 15%;
    margin-left: 20px;
    align-items: center;
}

div.right-sidebar-username-container {
    flex: 0 0 50%;
    text-align: left;
}

div.right-sidebar-username-container p {
    font-size: 20px;
    position: relative;
    bottom: 15px;
    
}

div.right-sidebar-username-container:hover {
    cursor: pointer;
}