div.username-flex-container {
    display: flex;
    min-height: 72px;
    max-height: 72px;
}

div.user-avatar-container {
    flex: 0 0 15%;
    background-color: #949494;
    border-bottom: 1px solid black;
    padding-top: 16px;
    padding-left: 10px;
}

div.username-container {
    flex: 0 0 85%;
    background-color: #949494;
    border-bottom: 1px solid black;
    padding-top: 7px;
}

div.username-container h3.username-content {
    font-size: 18px;
    margin: 5px;
    color: white;
}

div.username-container h3.username-content:hover {
    cursor: pointer;
}

div.username-container h3.blue {
    color: #283b5e;
}