html, body {
    height: 100%;
}

div.home-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

div.flex-container {
    width: 100%;
    height: 100%;
    /* border: 3px solid red; */
    display: flex;
    flex-direction: row;
}

div.home-sidebar {
    flex: 0 0 20%;
    margin: 0;
    overflow: auto;
    background-color: #f1f1f1;
    /* border: 3px solid black; */
}

div.home-main {
    flex: 0 0 80%;
    text-align: center;
    height: 100%;
    /* border: 3px solid green; */
}

div.username-container {
    background-color: #949494;
    padding: 1px 10px;
    margin: 0;
    color: white;
}

div.username-container h2 {
    cursor: pointer;
}

h3.room-header {
    padding: 0 15px;
    font-size: 22px;
    cursor: pointer;
}

ul.room-list {
    list-style-type: none;
    padding: 0 15px;
}

ul.contact-list {
    list-style-type: none;
    padding: 0 15px;
}

li.room-item {
    width: 100%;
    color: black;
    font-size: 20px;
    margin: 5px 0px;
    padding: 2px 5px;
}

li.active, li.room-item:hover {
    background-color: #949494;
    width: 96%;
    color: white;
    cursor: pointer;
}

div.chat-close-button-container {
    float: right;
    position: relative;
}

a.chat-close-button {
    opacity: 0.3;
    color: white;
    text-decoration: none;
    margin: auto;
    border: none;
}

a.chat-close-button::before {
    content: '\00d7';
}

a.chat-close-button:hover {
    opacity: 1;
}

div.chat-close-button-container:hover span.chat-close-button-tooltip {
    visibility: visible;
}

span.chat-close-button-tooltip {
    visibility: hidden;
    background-color: black;
    width: 100px;
    font-size: 15px;
    text-align: center;
    padding: 2px 2px;
    border-radius: 5px;
    position: absolute;
    /* z-index: 1; */
    bottom: 100%;
    right: 0;
}

li.new-room-item {
    width: 60%;
    color: black;
    font-size: 20px;
    margin: 5px 0px;
    padding: 2px 5px;
}

li.new-room-item:hover {
    cursor: pointer;
    text-decoration: underline;
}

div.main-room-header {
    background-color: #949494;
    padding: 1px 10px;
    margin: 0;
    min-height: 69px;
    color: white;
    /* border: 3px solid black; */
    position: relative;
}

div.main-room-header h2:hover {
    cursor: pointer;
}

/* Settings button: Placed realative to main room header */
div.settings-div {
    position: absolute;
    right: 26px;
    top: 15px;
}

button.settings-dropdown-btn {
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(0, 132, 255);
    color: white;
    display: inline-block;
}

button.settings-dropdown-btn:hover {
    cursor: pointer;
    background-color: rgb(0, 182, 255);
}

div.dropdown-content {
    display: none;
    margin: 5px 0;
    background-color: #f1f1f1;
    position: absolute;
    right: 0;
    min-width: 16em;
    z-index: 1;
}

div.dropdown-content a {
    color: black;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: left;
}

div.dropdown-content a:hover {
    background-color: #ddd;
    cursor: pointer;
}

div.dropdown-show {
    display: block;
}